<div
  class="large-box-output mat-elevation-z4"
  [ngStyle]="{ minHeight: multiLine ? '254.5px' : '116.5px' }"
>
  <div *ngIf="chipOutput; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip
        color="accent"
        selected
        disableRipple
        *ngFor="let word of input"
        >{{ word }}</mat-chip
      >
    </mat-chip-list>
  </ng-template>
  <ng-template #elseBlock>
    <p>
      {{ input[0] }}
    </p>
  </ng-template>
</div>
